:root {
	--main-font: 'Montserrat', sans-serif;
	--secondary-font: 'Roboto Slab', sans-serif;
	--default-font-size: 18px;
}
body {
	font-family: var(--main-font);
	font-size: var(--default-font-size);
	margin: 0;
	text-align: center;
}
h1 {
	font-weight: 600;
	text-align: center;
	font-size: 70px;
	color: white;
}
h2 {
	font-weight: 400;
	font-size: 18px;
}
h3 {
	font-weight: 300;
	font-size: 18px;
}
h4 {
	font-family: var(--secondary-font);
	color: white;
	font-weight: 200;
	font-style: italic;
	line-height: 35px;
}
a {
	font-weight: 300;
	color: #959595;
}
.quote {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	line-height: 23px;
}
.content-section,
img {
	width: 100%;
	margin-bottom: 35px;
	margin-top: 35px;
}
.sign {
	font-family: var(--main-font);
	font-style: normal;
	font-weight: 600;
	color: #002216;
	font-size: 18px;
	line-height: 2.5rem;
}
.insert-photo {
	background-image: url('/src/img/operate.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%; /* Sets reference point to scale from */

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 0;
	height: 600px;
	max-width: 810px;
	margin: 0 auto;
}
.header {
	background-image: url('/src/img/bttg1920x866.jpg');
	background-repeat: no-repeat;
	background-position: 50% 50%; /* Sets reference point to scale from */

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	padding: 0;
	height: 866px;
	width: auto;
}
.sub-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.sub-header br {
	line-height: 15px;
}
.text-content {
	max-width: 910px;
	margin: 0 auto;
}
.content-section {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.white-section {
	background-color: white;
}
.green-section {
	background-color: #82c341;
}
.footer-map iframe {
	width: 100% !important;
	height: 450px !important;
}
.text-danger {
	color: red;
}
textarea {
	border: none;
	overflow: auto;
	outline: none;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
}
.form-container {
	width: 100%;
}
.form-left {
	float: left;
	width: 47%;
	margin-right: 3%;
}
.form-right {
	float: left;
	width: 50%;
}

.form-left input {
	width: 100%;
	height: 25px;
	margin-bottom: 10px;
	padding-left: 10px;
}
.form-right textarea {
	width: 100%;
	height: 195px;
	padding-left: 10px;
	padding-right: 10px;
}
input,
textarea {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	border-color: #959595;
}
input[type='text'] {
	font-family: var(--main-font);
}
input[type='email'] {
	font-family: var(--main-font);
}
textarea {
	font-family: var(--main-font);
}
input::-webkit-input-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

input:-ms-input-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

input:-moz-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

input::-moz-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}
.mailer {
	text-decoration: none;
	transition: color 0.2s linear;
}
.mailer:hover {
	color: #82c341;
}
textarea::-webkit-input-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

textarea:-ms-input-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

textarea:-moz-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

textarea::-moz-placeholder {
	font-family: var(--main-font), Arial, Helvetica, sans-serif;
	margin-left: 8px;
}

.send-form {
	border-style: solid;
	border-width: 1px;
	border-radius: 3px;
	background-color: #002216;
	color: white;
	border-color: #002216;
	font-family: var(--main-font);
	text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	width: 103%;
}
.send-form:hover {
	background-color: #82c341;
	border-color: #82c341;
	cursor: pointer;
	transition: background-color 0.2s linear, border-color 0.2s linear;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	body {
		text-align: left;
	}
	h1 {
		font-weight: 600;
		text-align: center;
		font-size: 61px;
		color: white;
	}
	h2 {
		font-size: 40px;
	}
	h3 {
		font-size: 40px;
	}
	h4 {
		font-size: 40px;
		line-height: 60px;
		font-weight: 300;
	}
	.sign {
		font-size: 40px;
		font-weight: 300;
	}
	.footer-map iframe {
		width: 100% !important;
		height: 1000px !important;
	}
	.text-content {
		width: 95%;
		margin-left: 2rem;
		margin-right: 2rem;
	}
	.header {
		background-image: url('/src/img/bttgmobile.jpg');
	}
	.insert-photo {
		background-image: url('/src/img/operate.jpg');
		background-repeat: no-repeat;
		background-position: 50% 50%; /* Sets reference point to scale from */

		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		position: relative;
		padding: 0;
		height: 866px;
		width: auto;
		max-width: none;
	}
	.quote {
		font-size: 20px;
		line-height: 4rem;
	}
	.form-left {
		width: 110%;
	}
	.form-right {
		width: 109%;
	}
	input {
		font-size: 35px;
	}
	.form-right textarea {
		height: 700px;
	}
	.form-left input {
		height: 65px;
	}
	textarea {
		font-size: 35px;
	}
	input {
		height: 80px;
	}
	.send-form {
		width: 112%;
	}
}
